body{
   
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(177, 171, 171, 0.631);
}

main{
    display: flex;
    justify-content: center;
    margin-top: 40vh;
}


table{
    width: 400px;
    border-collapse: collapse;

}
.linha3{
    background-color: rgba(220, 20, 60, 0.296);
}

.b4{
    background-color: rgba(255, 255, 0, 0.508);
}
tr{
    background-color: rgba(255, 248, 220, 0.604);
}

td:hover{
    background-color: rgba(255, 99, 71, 0.576);
}

td{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}

td{
    border: 1px solid black;
    padding: 5px;


}