




caption{
    font-size: 1.5em;
    
    font-weight: bold;

    padding: 10px;
    background-color: rgba(128, 128, 128, 0.254);

}

table{
    width: 500px;
    border-collapse: collapse;
    position: relative;

}


td , th {
    border: 1px solid black;
    padding: 10px;
}
thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: #020202;
}
thead , tfoot{
    background-color: #020202;
    color: white;
}


.num{
    text-align: right;
    font-weight: 700;
    width: 50px;
}


tbody > tr:nth-child(2n){
    background-color: rgba(128, 128, 128, 0.638);
}