body{
   
    height: 98vh;

    background-image: url('https://th.bing.com/th/id/OIP.sDyX6P0VvUd7PxBUR_8-HwHaIK?pid=ImgDet&rs=1');

    
    background-repeat: no-repeat;
    background-position: center center;

}